<div id="page-content">
    <div class="container mt-3">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4">RKR BLOG</h1>
        <p class="lead">Never let your thoughts go out of your mind!,RKR BLOG is right place to write ,read and share your lovely thoughts and imagination</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-success btn-lg" href="#" role="button">sign Up!</a>
        </div>
    </div>
</div>



